.checkout_product{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.checkout_product_image{
    object-fit: contain;
    margin-bottom: 10px;
    max-width: 180px;
    max-height: 180px;
    min-width: 180px;
    min-height: 180px;
    margin-left: 20px;
}

.checkout_product_info{
    padding-left: 50px;
    margin-top: 20px;
}

.checkout_product_title{
    font-size: 18px;
    font-weight: 700;
}

.remove_button{
    background-color: #F7CA00;
    border-radius: 6px;
    padding: 6px 20px ; 
    border-color: white;
    margin-top: 10px;
}