
.payment{
    background-color: white;
}

.payment_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
}

.payment_section{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.payment_title{
    flex: 0.2;
}

.address, .payment_items{
    flex: 0.8;
}